.error-notice{
    border: 1px solid #e07c70;
    background-color: #f8d6d6;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.error-notice button{
    border-radius: 50%;
    width:20px;
    height:20px;
    margin-left: 5px;
    font-size:50%;
    background-color: #df4343;
}

.error-notice button:hover{
    background-color: #f58383;
    color:#ffffff;
}